#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

header {
    font-size: 30px;
    justify-content: center;
    display: flex;
}

.game {
    color: royalblue;
    background-color: rgb(185, 154, 139);
    display: flex;
    justify-content: center;
    flex-basis: 1;
    padding: 25px;
}

.rock {
    width: fit-content;
}

.restartButton {
    justify-content: center;
}

.scoreDiv {
    width: 250px;
    display: flex;
}