#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

header {
    font-size: 30px;
    justify-content: center;
    display: flex;
}

.game {
    color: royalblue;
    background-color: bisque;
    display: flex;
    padding: 50px;
    width: 100px;
}

.rock {
    width: fit-content;
}

.restartButton {
    justify-content: center;
}

.scoreDiv {
    width: 800px;
    display: flex;
    justify-content: center;
}